.btn-jumbo{
    font-size: 30px;
    padding: 90px 0px;
    /* display:block; */
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

@media only screen and (min-width: 853px) {
    #left-car {
        margin-left: -157px;
    }
}
@media only screen and (max-width: 853px) {
    #left-car {
        display: none;
    }
}